/* App.css */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  min-height: 100%;
  background-color: #111827; /* bg-neutral-950 */
  background: radial-gradient(ellipse 80% 80% at 50% -20%, rgba(120, 119, 198, 0.3), rgba(255, 255, 255, 0));
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}
